/*-------------------------------------------------
/*-------------------------------------------------
GLOBALS CLASSES 
-------------------------------------------------*/
*{padding:0%; margin:auto; box-sizing:border-box;, font-family: 'Nunito',san-serif;  transform-origin:0 0;  }
body{height: auto; overflow:auto; font-family: 'Droid Serif', serif; font-size:19px; color:#000000; background:#DCDCDC;;}
img{border:none;border-radius:5%}
h1{ font-size:20px; color:#ffffff; font-family: 'Oswald', sans-serif; font-weight:normal; }
h2{ font-size:14px; color:#1f7872; font-family: 'Droid Serif', serif; font-weight:normal;}
h3{ font-size:20px; color:#000000; font-family: "Poppins", Droid Serif; font-weight:normal; } 
p{ line-height:auto; color:black; font-size:20px; }
a{text-decoration:none; color:#FDF5E6;}
a:hover{color:#d13f31;}
a:active { color: red; } 
all {text-align: center; margin: 0 auto; width: auto; height: auto;}
/*-------------------------------------------------
GENERAL CLASSES
-------------------------------------------------*/
.mar-top30{margin-top:30px;}
.mar-top20{margin-top:20px;}
.mar-right30{margin-right:30px;}
.mar-bottom20{margin-bottom:20px;}
.float-left{ float:left;}
.float-right{ float:right;}
.clearing { clear:both;}
.panel{ background:#ffffff;}
.title{}
.content{}
.button a:hover{ background:#1a202c;}
.page{ width:90%; margin: auto;overflow:hidden; margin-top:2%;}
.page2{ width:960px; margin: auto;overflow:hidden; margin-top:3%;}
.page3{ width:90%; margin: auto;overflow:auto; margin-top:2%;}
/*-------------------------------------------------
MENU CLASSES
-------------------------------------------------*/
.menu-wrap{ overflow:none; background:#1a202c;}
.menu{text-align: center;margin:auto; width:auto; background:#1a202c; height:auto; }
.menu a {float: center; font-size: 14px; color: #fff; text-align: center; padding: 14px 16px; text-decoration: none;}
.navbar-nav{font-size:22px;}
.navbar-nav .active {font-size:22px;}
.dropdown-menu ,li {font-size:24px;}
.dropdown .dropbtn {font-size: 16px; border: none; outline: none; color: #fff; padding: 14px 16px; background-color: inherit;}
.menu a:hover, .dropdown:hover .dropbtn {background-color: none;}
.dropdown-content {display: none; position: absolute; background-color: #f9f9f9; min-width: 160px; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); z-index: 1;}
.dropdown-content a {float: none; color: #1a202c; padding: 12px 16px; text-decoration: none;display: block;text-align: left;}
.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}
/*-------------------------------------------------
HEADER CLASSES
-------------------------------------------------*/
.header{margin:center; width:auto; height:auto;}
.header_admin{margin:center; width:auto; height:auto;margin-top:-7%;}
.logo{text-align: center; margin:auto; width:auto; float:center; line-height:120px;}
.logo_order{text-align: center; margin:auto; width:auto; float:center; line-height:120px;margin-top:-3%;}
.logo h1{ margin-top:center; float:center;font-size:26px; color:#ffffff; font-weight:normal;}
.logo h3{ width:100%;margin-top:center;float:center;font-size:30px; color:#000000; font-weight:normal; margin-top:0; margin-left:0;}
.logo h4{ margin:auto;float:center;font-size:22px; color:#000000; font-weight:normal;}
.logo h6{ width:100%;margin-top:center;float:center;font-size:30px; color:#000000; font-weight:normal; margin-top:4%; margin-left:1%;}
.logo h5{ margin-top:auto;float:center;font-size:22px; color:#000000; font-weight:normal;}
.logo h5 span{ color:#808796; margin-top:auto;float:left;font-size:24px; font-weight:normal;}
.dropdownm h4{ margin:auto;text-align:center;font-size:21px; color:#fff; font-weight:normal;}


/*-------------------------------------------------
MAIN COLUMN CLASSES
-------------------------------------------------*/
.primary-col{ width:100%;  overflow:hidden; float:left;}
.primary-col p{ padding-bottom:20px;}
.gen{ float:center; overflow:hidden; width:100%; height:auto;  }
.gen .login-form{ text-align: center;float:center; overflow:hidden; width:auto; height:auto; margin-top:40px; }
.gen .panel{ width:auto;padding:20px 20px 20px 20px;}
.gen .side-panel{ margin-top: -190px; padding:0px 240px 30px 30px; float:right;}
.gen .content{overflow:hidden;}
.gen .content h2{ padding-bottom:15px;}


.primary-col{ width:100%;  overflow:hidden; float:left;}
.primary-col p{ padding-bottom:20px;}
.generic{ float:center; overflow:hidden; width:auto; height:auto;  }
.generic .login-form{ text-align: center;float:center; overflow:hidden; width:auto; height:auto; margin-top:40px; }
.generic .panel{ width:auto;padding:20px 20px 20px 20px;}
.generic .side-panel{ margin-top: -190px; padding:0px 240px 30px 30px; float:right;}
.generic .content{overflow:hidden;}
.generic .content h2{ padding-bottom:15px;}

/*-------------------------------------------------
SIDE BAR CLASSES
-------------------------------------------------*/
.side-bar{ width:auto; overflow:hidden; float:right;}
.search{background:#7FFF00; padding:25px 20px 25px 20px; overflow:hidden;}
.search .title h1{ color:#fff; padding-bottom:20px;}
.search h1{ color:#C4ADAD;}
.search ul li{ list-style:none; float:left; list-style:none;}
.textfiled{ background:#fff; width:200px; height:36px;  text-indent:5px; border: none;}

/*-------------------------------------------------
BOXES
-------------------------------------------------*/
.news-letter{background:#f0f3f5; padding:50px 55px 50px 55px; overflow:hidden; text-align:center; overflow-x:auto;}
.news-letter2{background:#f0f3f5; padding:50px 55px 50px 55px; overflow:hidden; text-align:center;}
.news-letter h1{ color:#1a202c; padding-bottom:20px; margin-left:2.4%;}
.news-letter ul li{list-style:none; float:left; list-style:none; display:inline; padding-right: 10px; color:#fff;}
.news-letter form input#usname{text-align: center; background:#fff; width:500px; height:36px;}
.news-letter form input#pass{text-align: center; background:#fff; width:500px; height:36px;  text-indent:5px; }
.news-letter form input#form-submit{background:none repeat scroll 0 0 #978989; border:medium; color:#FFF; font-weight:bold; padding:8px 20px; font-size:13px;}
.container2 form input#form-submit{background:none repeat scroll 0 0 #978989; border:medium; color:#FFF; font-weight:bold; padding:8px 20px; font-size:13px; width:15%;}
.news-letter form input#assign{background:#fff; width:200px; height:36px; margin-right:20px;}
.news-letter .text{background:#d13f31; float:center; width:200px; height:36px; margin-right:20px;}
.news-letter-privacy{color:#cf0000; margin-top:10px}
.text-danger {text-decoration:none; color:#ff0000; text-align:center;  }
.text-danger a:hovercolor{#d13f31;}
.text-danger  a:active  {color: red;}

.container-fluid 
{
	overflow-x:auto;
}

.modal-body {overflow-x:auto;}

#selectedtext{
 width:35%;
 text-align:center;
 align-content:center;
 font-size:16px;
 overflow-x:auto;
  overflow-y:auto;
 pointer-events:none;
 height:7%;
 margin-top:1%;
}   

.alert-info_yes {
	text-align:center;
	background-color:#dddddd6e;
	color:#000102d1;
	padding:6px;
}

.alert h4 {
	text-align:center;
}

.selection_sales 
{
	width:18%;
	height:6.5%;
	text-align:center;
	border-radius:4px;
}

.failed_login {
	background-color: rgb(255,48,48);
	padding:10px 20px;
	border-radius:5px;
	overflow:hidden;
	opacity:0;
	pointer-events:none;
	text-align:center;
}

.failed_register {
	background-color: rgb(255,48,48);
	padding:10px 20px;
	border-radius:5px;
	overflow:hidden;
	opacity:0;
	pointer-events:none;
	text-align:center;
	margin-top:-2.0%;
}

.failed_category {
	background-color: rgb(255,48,48);
	padding:10px 20px;
	border-radius:5px;
	overflow:hidden;
	opacity:0;
	pointer-events:none;
	text-align:center;
	margin-top:-20px;
}

.failed_order {
	background-color: rgb(255,48,48);
	padding:10px 20px;
	border-radius:5px;
	overflow:hidden;
	opacity:0;
	pointer-events:none;
	text-align:center;
	margin-top:-10px;
}


.failed_product {
	background-color: rgb(255,48,48);
	padding:6px 20px;
	border-radius:5px;
	overflow:hidden;
	opacity:0;
	pointer-events:none;
	text-align:center;
	margin-top:-12px;
}

.failed-edit {
	background-color: rgb(255,48,48);
	padding:10px 20px;
	border-radius:5px;
	overflow:hidden;
	opacity:0;
	pointer-events:none;
	text-align:center
}


.failed {
	position:absolute;
	top:10.3%;
	right:32%;
	background-color: rgb(255,48,48);
	padding:10px 20px;
	border-radius:5px;
	overflow:hidden;
	opacity:0;
	pointer-events:none;
	text-align:center
}

.success_category {
	background-color: rgb(106,168,126);
	padding:10px 20px;
	border-radius:5px;
	overflow:hidden;
	opacity:0;
	pointer-events:none;
	text-align:center
}

.success_product {
	background-color: rgb(106,168,126);
	padding:6px 20px;
	border-radius:5px;
	overflow:hidden;
	opacity:0;
	pointer-events:none;
	text-align:center
}


.caption center-align black-text ,h2 {
margin-top:10%;
}

.input-group {
	margin-left:43%;
}

.input-group2 {
	position: relative;
	display: table;
	border-collapse: separate;
	margin-left:42%;
}

#search_text {
	text-align:center;
}

#check_out_cart {
margin-left:3%;
}

.form-control {
	text-align:center;
	float:left;
	align-items:center;
}

.form-control2 {
	text-align:center;
	float:left;
	align-items:center;	
}

.select {
	padding: 8px 12px;
	color: #333333;
	background-color: #eeeeee;
	border: 10px solid #dddddd;
	cursor:pointer;
	border-radius: 5px;
	  font-size: 14px;
}

.selectt{
  background-color: #0099cc;
  background-image: -webkit-linear-gradient(top, #0d1b24, #2980b9);
  background-image: -moz-linear-gradient(top, #0d1b24, #2980b9);
  background-image: -ms-linear-gradient(top, #0d1b24, #2980b9);
  background-image: -o-linear-gradient(top, #0d1b24, #2980b9);
  background-image: linear-gradient(to bottom, #0d1b24, #2980b9);
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
   padding: 8px 34px;
  text-decoration: none;
  	cursor:pointer;
 
  text-align: center;  width: auto; height: auto;
}


.fslider .slider .slides .caption center-align black-text h3 {
margin-top:center;float:center;font-size:24px; color:#000000; font-weight:normal;
}

.slider {
 position:relative;
 height:auto;
 width:100%;
 margin-top:7%;
}
.slider.fullscreen {
 height:100%;
 width:100%;
 position:absolute;

}
.slider.fullscreen ul.slides {
 height:100%;
}
.slider.fullscreen ul.indicators {
 z-index:2;
 bottom:30px;
}
.slider .slides {
 background-color:#9e9e9e;
 margin:auto;
 height:auto;
}
.slider .slides li {
 opacity:0;
 position:absolute;
 top:0;
 left:0;
 z-index:1;
 width:100%;
 height:inherit;
 overflow:hidden;
}
.slider .slides li img {
 height:100%;
 width:100%;
 background-size:cover;
 background-position:absolute;
 
}
.slider .slides li .caption {
 color:#fff;
 position:absolute;
 top:15%;
 left:15%;
 width:70%;
 opacity:0;
 margin-top:6%
}
.slider .slides li .caption p {
 color:#e0e0e0
 
}
.slider .slides li.active {
 z-index:2
}
.slider .indicators {
 position:absolute;
 text-align:center;
 left:0;
 right:0;
 bottom:0;
 margin:0
}
.slider .indicators .indicator-item {
 display:inline-block;
 position:relative;
 cursor:pointer;
 height:16px;
 width:16px;
 margin:0 12px;
 background-color:#e0e0e0;
 -webkit-transition:background-color .3s;
 transition:background-color .3s;
 border-radius:50%
}

.slider .indicators .indicator-item.active{
	background-color: #524747 !important;
}

.slides {
text-align:center; 
}


a,
button {
	font-family: "Poppins", Droid Serif;
}

.dropdownm start {
float:left;
margin:auto;
}

.dropdownm .who button,
.home
 {
	background:none;
	border:none;
	color:#fff;
	text-decoration:none;
	font-size:18px;
	cursor:pointer;
	float:left;
}

.dropdownm .who button:hover,
.home:hover {
	color: rgb(240, 245, 255);
	pointer-events:all;
}

.dropdownm .logout button,
.home
 {
	background:none;
	border:none;
	color:#fff;
	text-decoration:none;
	font-size:18px;
	cursor:pointer;
	float:right;
}

.dropdownm .logout button:hover,
.home:hover {
	color: rgb(240, 245, 255);
	pointer-events:all;
}

.dropdownm {
	height: 6vh;
	background:#1a202c;
	display:inline-flex;
	justify-content:space-around;
	align-items:center;
	width:100%;
	margin:auto;
	margin-top:15px;
	font-family: "Poppins", Droid Serif;	
}

.dropdownm ul {
	display:inline-flex;
	list-style:none;
	color:#fff;
	position:relative;
	}

.dropdownm ul li {
	width:auto;
	padding:15px;
	margin-top:auto;
	margin:0 10px;
	position:relative;
	display:inline-block;
}

.active, .dropdownm ul li:hover {
	color:cyan;
	border-radius:5px;
	box-shadow:0 0 5px #33ffff,
			   0 0 5px #66ffff;
	background: rgb(79, 79, 79);
	
}	

.subclass-menu {
	display:none;
}

.dropdownm ul li:hover .subclass-menu  {
	display:block;
	position:absolute;
	background: #1a202c;
	margin-top:16px;
	margin-left:-15px;
	border-radius: 7px;
	}



.dropdownm ul li:hover .subclass-menu ul li:last-child  {
	border-bottom:none;
}


.dropdownm ul li:hover .subclass-menu ul li a  {
		color:rgb(169, 169, 169);
}

.dropdownm ul li:hover .subclass-menu ul li a:hover  {
		color:#fff;
		box-shadow:none;
}

.edit,
.searchb,
.login,
.order {
	position:relative;
}

.login ul,
.mshow ul {
	position:absolute;
		background: #000;
		margin-top:23%;
		width:auto;
		height:auto;
		display:flex;
		justify-content:space-around;
		align-items:center;
		flex-direction:column;
		list-style:none;
		border-radius: 10px;
		opacity:0;
		pointer-events:none;
		transform:translatey(10px);
		transition: all 0.4s ease;
		font-family: "Poppins", Droid Serif;	
}

.edit ul,
.searchb ul,
.order ul {
	position:absolute;
		background: #000;
		margin-top:24%;
		width:100%;
		height:100%;
		display:flex;
		justify-content:space-around;
		align-items:center;
		flex-direction:column;
		list-style:none;
		border-radius: 10px;
		opacity:0;
		pointer-events:none;
		transform:translatey(10px);
		transition: all 0.4s ease;
		font-family: "Poppins", Droid Serif;
			
}

.edit a,
.searchb a,
.login a,
.mshow a,
.order a{
	color:#fff;
	text-decoration:none;
	
}

.dropdownm button,
.home
 {
	background:none;
	border:none;
	color:#fff;
	text-decoration:none;
	font-size:26px;
	cursor:pointer;	
	margin:auto;
}

.edit li,
.searchb li,
.login li,
.mshow li,
.order li {
	margin-top:auto;
	width:100%;
	height:100%;
	display:flex;
	justify-content:center;
	align-items:center;
	background-color:#1a202c;
}

.edit li:hover,
.searchb li:hover,
.login li:hover,
.mshow li:hover,
.order li:hover {
	background-color: rgb(247, 249, 250);
	pointer-events:all;
}

.dropdownm button:hover,
.home:hover {
	color: rgb(240, 245, 255);
	pointer-events:all;
	background-color:#535559;
}

.edit button:focus +ul,
.searchb button:focus +ul,
.login button:focus +ul,
.mshow button:focus +ul,
.order button:focus +ul{
opacity:1;
pointer-events:all;
transform:translatey(0px);
}

.edit button:focus +li,
.searchb button:focus +li,
.login button:focus +li
.mshow button:focus +li,
.order button:focus +li{
opacity:1;
pointer-events:all;
transform:translatey(0px);

}

.menutable{
 text-align:center;
 color: black;
 vertical-align:middle;
  width: 90%;
  height: auto;
  margin-left:5%;
  background-color:#f2f2f2e6;
}

.menutable th, td {
    text-align:center; 
    vertical-align:middle;
    padding: 10px;
	border: 0.1px solid #000000;
}

.category_image{
width:95px;
height:75px;	  
margin:auto;
}


.mytable {
    border-collapse: collapse;
    width: 100%;
	height: auto;
	text-align:center; 
	 color: black;
	  vertical-align:none;
	  font-family: "Poppins", Droid Serif;
	  border: 0.1px solid #000000;
}

.mytable th, td {
    text-align:center; 
    vertical-align:none;
    padding: 5px;
	border: 0.1px solid #000000;

}

.mytable td, th {
    border: 0.1px solid #000000;
    padding: 5px;
}

.orderlist {
	border-collapse: collapse;
    width: 99%;
	height: auto;
	text-align:center; 
	 color: black;
	  vertical-align:none;
	  font-family: "Poppins", Droid Serif;
	  margin-top:1%;
	  margin-bottom:1%;
}

.ordertable {
    border-collapse: collapse;
    width: 90%;
	height: auto;
	text-align:center; 
	 color: black;
	  vertical-align:none;
	  font-family: "Poppins", Droid Serif;
	  margin-top:1%;
	  margin-bottom:1%;
	  border: 0.1px solid #000000;
}

.ordertable th, td {
	
    text-align:center; 
    vertical-align:none;
    padding: 1px;
	border: 0.1px solid #000000;
}

.ordertable td, th {
    
    padding: 1px;
	border: 0.1px solid #000000;
}

.table-bordered th,td{
	text-align:center;
}

.imagetable {
	font-size:0;
	width:120px;
	height:105px;
	display:flex; 
	margin:0 auto;
}

.imagetable a {
	margin:2px;
	border:4px solid #333;	
	border:4px solid #333;	
}

.lpanel {
float:left;
margin-left:1%;
margin-top:2%;
width:82px;
height:60px;
text-align:center;
}

.list-category {
	font-size:0;
	width:82px;
	height:60px;
	margin:auto;
	text-align:center;
}

.form-count{
text-align:center; 
float:center;
background:#fff; 
width:45px; 
height: calc(1.5em + .75rem + 2px);
font-weight: 400;
line-height: 1.5;
background-clip: padding-box;
border: 1px solid #ced4da;
border-radius: .25rem;
transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
margin-top:6%;
}

.checkboxstyle {
border-collapse: collapse;
text-align:center; 
color: black;
vertical-align:none;
font-family: "Poppins", Droid Serif;
margin-top:2%;
margin-bottom:2%;
height:auto;
width:auto;
align-items:center;
justify-content:space-around;
float:center;
flex-direction:row;
line-height:0.04;
}
	
input[type=checkbox] {
	appearance:none;
	-webkit-appearance:none;
	height:18px;
	width:18px;
	background-color:#d5d5d5;
	border-radius:4px;
	cursor:pointer;
	align-items:center;
	justify-content:center;
	outline:none;
	 vertical-align:middle;
	
}

.checkbox_cat
{
	 margin:18px 0px 0px ;
	float:left;
	vertical-align:middle;
	text-align:center;
	align-items:center;
	display:block;
	
}
#cat_checkbox {
 margin:26px 0px 0px ;
 float:center;

}
#product_val1 ,#product_val2,#product_val3,#product_val4, #product_val5 {
 margin:2px 5px 0px ;
}
label2 {
color:#4c4c4c;
font-size:20px;
font-family:'Poppins',sans-serif;
font-weight:300;
line-height:0.04;
float:center;
display:flex;
align-items:center;
margin-top:3%;
}


input[type=checkbox]:after {
  font-family:"Font Awesome 5 free";
  font-weight:900;
  content:"\f00c";
  font-size:18px;
  color:white;
  display:none;
  
}

input[type=checkbox]:hover {
  background-color: #a5a5a5;
}

input[type=checkbox]:checked {
  background-color: #00FF00;
}

input[type=checkbox]:checked:after {
  display:block;
  }		
  
  #popover_content_wrapper {
  display:none;
  }

.popup .overlay {
  position:fixed;
  top:0px;
  left:0px;
  width:100vw;
  height:100vh;
  background:rgba(0,0,0,0.7);
  z-index:1;
  display:none;
}

.popup .content {
  position:absolute;
  top:40%;
  left:50%;
  transform:translate(-50%,-50%) scale(0);
  background:#fff;
  width:auto;
  height:auto;
  z-index:2;
  text-align:center;
  padding:20px;
  box-sizing:border-box;
  font-family:"Open Sans",sans-serif;
}


.popup .close-btn {
  cursor:pointer;
  right:20px;
  top:20px;
  width:30px;
  height:30px;
  background:#222;
  color:#fff;
  font-size:25px;
  font-weight:600;
  line-height:30px;
  text-align:center;
  border-radius:50%;
  float:right;
  
}

.popup.active .overlay {
  display:block;
}

.popup.active .content {
  transition:all 300ms ease-in-out;
  transform:translate(-50%,-50%) scale(1);
}

.popup2 .overlay2 {
  position:fixed;
  top:0px;
  left:0px;
  width:100vw;
  height:100vh;
  background:rgba(0,0,0,0.7);
  z-index:1;
  display:none;
}

.popup2 .content2 {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%) scale(0);
  background:#fff;
  width:auto;
  height:auto;
  z-index:2;
  text-align:center;
  padding:20px;
  box-sizing:border-box;
  font-family:"Open Sans",sans-serif;
}


.popup2 .close-btn {
  cursor:pointer;
  right:20px;
  top:20px;
  width:30px;
  height:30px;
  background:#222;
  color:#fff;
  font-size:25px;
  font-weight:600;
  line-height:30px;
  text-align:center;
  border-radius:50%;
  float:right;
  
}



.popup2.active .overlay {
  display:block;
}

.popup2.active .content2 {
  transition:all 300ms ease-in-out;
  transform:translate(-50%,-50%) scale(1);
}

.content h3 {
	color:black;
	text-align:center;
	float:center;
	margin-top:auto;
}

.content2 h3 {
	color:black;
	text-align:center;
	float:center;
	margin-top:auto;
}

.modalf-center {
  margin-left:25%;
  margin-top:2%; 
  width:50%;
}

.modalf-leftbtn {
  float:left;
}

.modalf-rightbtn {
  float:right;
}

.rpanel {
float:right;
margin-right:2%;
margin-top:2%;
}

.popover {
width: 100%;
 max-width: 650px;
}

.popover.bottom {
width: 100%;
 max-width: 650px;

}

.table-striped td,th,thead,tr,tbody{
  text-align:center; 
}

.table-bordered td,th,thead,tr,tbody{
  text-align:center; 
}

.table-bordered .table-striped td,th,thead,tr{
  text-align:center; 
}

.frmSearch .aem-list{float:left;list-style:none;margin-top:-3px;padding:0;width:190px;position: absolute;}
.frmSearch .aem-list li{padding: 10px; background: #f0f0f0; border-bottom: #bbb9b9 1px solid;}
.frmSearch ,aem-list li:hover{background:#fff;cursor: pointer;}
.frmSearch .search-box{padding: 6px;border: #a8d4b1 1px solid;border-radius:4px;}

.eSearch .e-list{float:left;list-style:none;margin-top:25px;padding:0;width:19px;position: absolute;}
.eSearch .e-list li{padding: 10px; background: #f0f0f0; border-bottom: #bbb9b9 1px solid;}
.eSearch ,e-list li:hover{background:#fff;cursor: pointer;}
.eSearch .search-box{padding: 6px;border: #a8d4b1 14px solid;border-radius:4px;}

.modal-footer .btn + .btn {
	margin-top:-4px;
}

.btn1 ,
btn-shop
{	
	margin-left:3%;
	text-align:center;
	vertical-align:middle;
	background-color: #978989;
    border: none;
    color: white;
     padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: none;
    cursor: pointer;
	 font-family: Arial;
	 width:auto;
	 height:auto;
	 border-radius:5px;
	
}

.btnview
{
	
margin:0;
	text-align:center;
	vertical-align:middle;
	background-color: #978989;
    border: none;
    color: white;
     padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: none;
    cursor: pointer;
	 font-family: Arial;
	 width:auto;
	 height:auto;
	 border-radius:5px;
	
}

.btn1 btn-shop.focus, .btn1 btn-shop:focus, .btn1 btn-shop:hover {
	color:#333;
	text-decoration:none;
}

.btn1:hover  {
	color:#333;
	text-decoration:none;
}

 .col-md-3 {
text-align:center;
}

.col-md-9 {
text-align:center;
margin-top:2%;
}

 .col-md-4 {
text-align:center;
margin-top:1%;
}

.col-md-8 {
text-align:center;
margin-top:2%;
}

.btn- {
    background-color: #DCDCDC;
    border: 1px solid #DCDCDC;
    color: #212529;
    padding: 1.375rem 1.75rem;
    font-size: 14px;
    cursor: pointer;
	margin-right:1%;
	border-radius: 48% ;
	 text-align: center;
	font-size: 1rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	background: linear-gradient(#212529,#212529);
	background-position:center;
	 background-size: 50% 2px,2px 50%; /*thickness = 2px, length = 50% (25px)*/
  background-repeat:no-repeat;
   margin-top:-6.5%;

}

.btnplus {

    background-color: #DCDCDC;
    border: 1px solid #DCDCDC;
    color: #212529;
     padding: 1.375rem 1.75rem;
    font-size: 14px;
    cursor: pointer;
	margin-left:1%;
	 border-radius: 48% ;
	 text-align: center;
	font-size: 1rem;
	background: linear-gradient(#212529,#212529), linear-gradient(#000,#000);
	background-position:center;
	 background-size: 50% 2px,2px 50%; /*thickness = 2px, length = 50% (25px)*/
  background-repeat:no-repeat;
   transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
   margin-top:-6.5%;
}

.ispan {
font-family: 'Font Awesome 5 Free';
font-weight: 900;
}


.addbutton {

    background-color: #2e6da4;
    border: none;
    color: white;
    padding: 6px 10px;
    font-size: 14px;
    margin: none;
    cursor: pointer;
	float: right;
	margin-right:auto;
}


.button {
    background-color: #978989;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: none;
    cursor: pointer;
}
.button:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}



.btn {

  background: #978989;
  background-image: -webkit-linear-gradient(top, #0d1b24, #2980b9);
  background-image: -moz-linear-gradient(top, #0d1b24, #2980b9);
  background-image: -ms-linear-gradient(top, #0d1b24, #2980b9);
  background-image: -o-linear-gradient(top, #0d1b24, #2980b9);
  background-image: linear-gradient(to bottom, #0d1b24, #2980b9);
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 14px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
   padding: 8px 9px 8px 9px;
  text-decoration: none;
 
  text-align: center;  width: auto; height: auto;
}

.btn4 {

  background: #978989;
  background-image: -webkit-linear-gradient(top, #0d1b24, #2980b9);
  background-image: -moz-linear-gradient(top, #0d1b24, #2980b9);
  background-image: -ms-linear-gradient(top, #0d1b24, #2980b9);
  background-image: -o-linear-gradient(top, #0d1b24, #2980b9);
  background-image: linear-gradient(to bottom, #0d1b24, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 14px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
   padding: 8px 9px 8px 9px;
  text-decoration: none;
 
  text-align: center;  width: 20%; height: auto;
}

.btn4:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.btn2 {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;

  float:right;
}

.btn2:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.btn3{

  background: #0d1b24;
  background-image: -webkit-linear-gradient(top, #0d1b24, #2980b9);
  background-image: -moz-linear-gradient(top, #0d1b24, #2980b9);
  background-image: -ms-linear-gradient(top, #0d1b24, #2980b9);
  background-image: -o-linear-gradient(top, #0d1b24, #2980b9);
  background-image: linear-gradient(to bottom, #0d1b24, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  float:right; padding: 10px 15px 10px 15px;
  text-decoration: none;

}

.btn3:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.but {
	width:auto;
	height:auto;
	text-align: center;
	float:center;
}
.butor {
	border:1px solid transparent;
	cursor: pointer;
	text-align: center;
    text-decoration: none;
	font-family: Arial;
  text-decoration: none;
  background:coral;
	padding:1em 1.5em;
	border:0;
	color: #fff;
	
}

.butor:hover {
	background:#333;
	color: #white;
}

.modall {
display:none;
position: center;
z-index:1;
left:0;
top:0;
width:auto;
max-height: calc(100vh - 210px);
overflow-y: auto;
background-color:#f4f4f4;
}

.modall-content {
	background-color:#f4f4f4;
	margin:auto;
	padding:20px;
	width:auto;
	height:auto;
	animation-name:modalopen;
	animation-duration:0.5s;
	text-align:center;
	  vertical-align:mid;
	  font-family: "Poppins", Droid Serif;

}

.closebutor{
	
	color:#ccc;
	float:right;
	font-size:28px;
	
}

.closebutor:hover, .closebutor:focus {
	color:black;
	text-decoration:none;
	cursor:pointer;
	
}

.img-view {
display:block;
width:10%;
height:5%;
}

.image-class {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
}



/*-------------------------------------------------
extra FORM CLASSS
-------------------------------------------------*/


/*-------------------------------------------------
CONTACT FORM CLASSS
-------------------------------------------------*/

.contact-form { background:#f4f8f6; padding:30px; width:440px; float:left;}
.contact-form label {display: block; padding:10px 0 10px 0;}
.contact-form label span {display: block; color:#939191;font-size:14px; float:left; width:80px; text-align:left; padding:5px 20px 0 0;}
.contact-form .input_text {padding:10px 10px;width:318px;background:#ffffff;border:#e1ece7 1px solid; color:#939191;}
.contact-form .message{padding:10px 10px;width:318px; background:#ffffff; border:#e1ece7 1px solid;overflow:hidden;height:150px; color:#939191; font-size:14px;}
.contact-form .button{padding:8px;background:#1f7872; color:#ffffff; text-transform:uppercase; font-family:'Oswald', sans-serif;border:0px solid;margin-left:100px;margin-top:20px;}

.address { float:left; width:370px; margin-left:30px;}
.address .panel { border:none; color:#9b9e9a}
.address .panel .title h1 {  color:#d13f31; padding-bottom:10px;}
.address .panel .content p span { color:#9b9e9a;}


/*-------------------------------------------------
FOOTER CLASSES
-------------------------------------------------*/
.primaryfooter{ overflow:hidden; margin:auto; width: 100%; height:5%;   position: fixed;   left: 0;
   bottom: 0;}
  .primaryfooter2{ overflow:hidden; margin:auto; width: 100%; height: 2%;   position: fixed;   left: 0;
   bottom: 0;}
.copyright-wrap{ background:#1a202c; overflow:hidden; padding:10px 0px 10px 0px; margin:auto;}
.copyright-wrap .panel{width:auto; margin:auto; background:none;}
.copyright-wrap .panel .content p{ color:#ffffff; text-align:center; font-size:12px;}
.copyright-wrap .panel .content p a{ text-decoration:none; color:#ffffff;}
.copyright-wrap .panel .content p a:hover{ color:#1a202c;}


.banner {
	margin-top:auto;
	width: 100%;
    height: 93%;
	background-image: url(../img/index_pic.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	text-align: center;
}

.banner h4 {
	margin-top: 0px;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 15px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 0.5px;
}

 
.banner .news-letter .row .title {margin-left: -80%;}
.banner .news-letter .row h1{ color:#1a202c; padding-bottom:0px;}
.banner .news-letter .row ul li{list-style:none; float:left; list-style:none; display:inline; padding-right: 10px; color:#fff;}
.banner .news-letter .row form input#usname{background:#fff; width:200px; height:30px; margin-left: -80%;}
.banner .news-letter .row form input#pass{background:#fff; width:200px; height:30px;  text-indent:5px; margin-left: -80%; }
.banner .news-letter .row form input#form-submit{background:none repeat scroll 0 0 #978989; border:medium; color:#FFF; font-weight:bold; padding:8px 20px; font-size:13px;  margin-left: -80%; }

}

.banner h2 {
	font-family: 'Spectral', serif;
	font-size: 44px;
	font-weight: 600;
	color: #fff;
	text-transform: uppercase;
}

.banner p {
	color: #fff;
	font-size: 14px;
}

.banner .primary-button {
	margin-top: 30px;
}

.select {
    cursor:pointer;
    display:inline-block;
    position:relative;
    font:normal 11px/22px Arial, Sans-Serif;
    color:black;
    border:1px solid #ccc;
}
.styledSelect {
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-color:white;
    padding:0 10px;
    font-weight:bold;
}
.styledSelect:after {
    content:"";
    width:0;
    height:0;
    border:5px solid transparent;
    border-color:black transparent transparent transparent;
    position:absolute;
    top:9px;
    right:6px;
}
.styledSelect:active, .styledSelect.active {
    background-color:#eee;
}
.options {
    display:none;
    position:absolute;
    top:100%;
    right:0;
    left:0;
    z-index:999;
    margin:0 0;
    padding:0 0;
    list-style:none;
    border:1px solid #ccc;
    background-color:white;
    -webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
}
.options li {
    padding:0 6px;
    margin:0 0;
    padding:0 10px;
}
.options li:hover {
    background-color:#39f;
    color:white;
}

@keyframes modalopen{
	from {opacity: 0}
	to {opacity: 1}
}

.nav-container2 {
	width:100%;
	background-color: #1a202c;
}

.navbar {
	display:grid;
	grid-template-columns:0.2fr auto 1fr;
	align-items:center;
	height:80px;
	width:90%;
	max-width:1720px;
	margin:0 auto;
}

#navbar-logo {
	color:#fff;
	justify-self:start;
	margin-left:20px;
	cursor:pointer;
}

.nav-menu {
	display:grid;
	grid-template-columns:repeat(2,auto);
	list-style:none;
	text-align:center;
	width:70%;
	justify-self:end;
}

.nav-menu , a {
	font-size:24px;
	color:#fff;
}

.nav-links {
	color:#fff;
	text-decoration:none;
	font-size:24px;
	padding:10px;
}

.nav-links:hover{
		color:#fff;
	border-radius:5px;
	box-shadow:0 0 5px #33ffff,
			   0 0 5px #66ffff;
	background: rgb(79, 79, 79);
	transition: all 0.2s ease-out;
}

.nav-links-btn{
	background-color:#000;
	padding: 6px 16px;
	border-radius:4px;
}

.nav-links-btn:hover{
	background-color:transparent;
	color:#fff;
	padding:5px 15px;
	border-radius:4px;
	border:solid 1px #red;
	transition:all 0.3s ease-out;
}	

.menu-toggle .bar{
	width: 25px;
	height:3px;
	margin:5px auto;
	transition: all 0.3s ease-in-out;
	background:#fff;
}

.success {
	position:absolute;
	top:10.3%;
	right:32%;
	background-color: rgb(106,168,126);
	padding:10px 20px;
	border-radius:5px;
	overflow:hidden;
	opacity:0;
	pointer-events:none;
	text-align:center
}

.success_edit {
	background-color: rgb(106,168,126);
	padding:10px 20px;
	border-radius:5px;
	overflow:hidden;
	opacity:0;
	pointer-events:none;
	text-align:center
}

.success_register {
	position:absolute;
	top:10.3%;
	right:34.8%;
	background-color: rgb(106,168,126);
	padding:10px 20px;
	border-radius:5px;
	overflow:hidden;
	opacity:0;
	pointer-events:none;
	text-align:center
}

@media screen and (max-width:1150px) {
	.container2 form input#form-submit { width:25%;}
	  #search_text{text-align:center;margin-left:-22%;}
}

@media screen and (max-width:1300px) {
	  #search_text{text-align:center;margin-left:-14%;}
}

@media screen and (max-width:1400px) {
	  #search_text{text-align:center;margin-left:-10%;}
}

@media screen and (max-width:1200px) {
	.container2 form input#form-submit { width:25%; margin-left:-5%;}
	.logo h3 {margin-left:3%;}
	#search_text{text-align:center;margin-left:-18%;}
	
	 #quantity {
	width:15%;
	margin-top:15%;
}

.btnplus {
	margin-top:-8%;
}

.btn- {
	margin-top:-8%;
}
}

@media screen and (max-width:950px) {
	.container2 form input#form-submit{background:none repeat scroll 0 0 #978989; border:medium; color:#FFF; font-weight:bold; padding:8px 20px; font-size:13px; width:35%; margin-left:-10%; text-align:center;}
	.container2 
{
  width:80%; 
  margin-left:13%;  
  margin-top:0%;   
  border-radius: 5px;
  background-color: #f2f2f2e6;
  padding:30px; }
  
  #search_text{text-align:center;margin-left:-27%;}
  
  .failed-edit {
	background-color: rgb(255,48,48);
	padding:10px 20px;
	border-radius:5px;
	overflow:hidden;
	opacity:0;
	pointer-events:none;
	text-align:center
}
  
 #quantity {
	width:15%;
	margin-top:15%;
}

.btnplus {
	margin-top:-10%;
}

.btn- {
	margin-top:-10%;
}	
  
}

@media screen and (max-width:1200px) {
	.container2 form input#form-submit{background:none repeat scroll 0 0 #978989; border:medium; color:#FFF; font-weight:bold; padding:8px 20px; font-size:13px; width:35%; margin-left:-10%; text-align:center;}
	.container2 
{
  width:80%; 
  margin-left:13%;  
  margin-top:0%;   
  border-radius: 5px;
  background-color: #f2f2f2e6;
  padding:30px; }
}

@media screen and (max-width:1350px) {
	.container2 form input#form-submit { width:25%; margin-left:-85%;}
	
}

@media screen and (max-width:768px) {
		.nav-container2{
			position:relative;
		}
		
#quantity {
	width:15%;
	margin-top:25%;
}

.failed {
	position:absolute;
	top:12.5%;
	right:12%;
	background-color: rgb(255,48,48);
	padding:9px 18px;
	border-radius:5px;
	overflow:hidden;
	opacity:0;
	pointer-events:none;
	text-align:center
}


.btnplus {
	margin-top:-11%;
}

.btn- {
	margin-top:-11%;
}
		.nav-menu {
			display:grid;
			grid-template-columns:auto;
			margin:0;
			width:100%;
			position:absolute;
			top:80px;
			left:-100%;
			opacity:0;
			transition:all 0.5s ease;
		}
		#nav-logo{
			margin-left:20px;
		}
		.nav-menu.active {
			background: #1a202c;
			left:0;
			opacity:1;
			transition:all 0.5s ease;
		}
		
		.nav-links{
			text-align:center;
			line-height:60px;
			width:100%;
			display:table;
			padding:10px;
		}
		
		.nav-links:hover{
				color:#fff;
	border-radius:5px;
	box-shadow:0 0 5px #33ffff,
			   0 0 5px #66ffff;
	background: rgb(79, 79, 79);			
			transition:all 0.4s ease-out;
		}
		
		.navbar{
			width:100%;
		}
		
		.nav-links-btn {
			border:none;
			padding:0;
			border-radius:0;
			background-color:#1a202c;
			color:#fff;
			transition:all 0.4s ease-out;
		}
		.nav-links-btn:hover {
			border:none;
			padding:0;
			border-radius:0;
			background-color:#1a202c;
			color:#fff;
			transition:all 0.4s ease-out;
		}
		
		#mobile-menu {
			position:absolute;
			top:20%;
			left:5%;
			transform:translate(15%,20%);
		}
		
		.menu-toggle .bar {
			display:block;
			cursor:pointer;
		}
		.menu-toggle:hover {
			cursor:pointer;
		}
		
		#mobile-menu.is-active .bar:nth-child(2) {
			opacity:0;
		}
		#mobile-menu.is-active .bar:nth-child(1) {
			transform:translateY(8px) rotate(45deg);
		}
		#mobile-menu.is-active .bar:nth-child(3) {
			transform:translateY(-8px) rotate(-45deg);
		}
		.container2 form input#form-submit{background:none repeat scroll 0 0 #978989; border:medium; color:#FFF; font-weight:bold; padding:8px 20px; font-size:13px; width:25%; margin-left:-85%; text-align:center;}
		.container2 {width:100%; margin-left:0%;  margin-top:0%;   border-radius: 5px; background-color: #f2f2f2e6; padding:30px; }
}

.nav-links ul {
	display:inline-flex;
	list-style:none;
	color:#fff;
	position:relative;
	}

.nav-links  li {
	width:auto;
	position:relative;
	display:inline-block;
	font-size:24px;
}

.nav-links ul li:hover .subclass-menu ul  {
	display:block;
	margin:auto;
	}
	
.nav-links ul li:hover .subclass-menu ul li  {
	width:auto;
	padding:0.1px;
	background: transparent;
	border-radius:0;
	text-align:left;
	box-shadow:none;
}		

.nav-links ul li a {
	text-decoration:none;
	color:#fff;
	font-size:16px;
	padding: 0 20px;
	line-height:24px;
	border-bottom: 1px solid rgba(90,99,90,0.5);
}

.nav-links ul li:hover .subclass-menu  {
	display:flex;
	top:38px;
	margin-top:1px;
	width:auto;
	position:absolute;
	transition:all 0.5s ease;
	background: #1a202c;
	border-radius: 7px;
	}

.nav-links ul li:hover .subclass-menu ul li:last-child  {
	border-bottom:none;
}
.nav-links ul li:hover .subclass-menu ul li a  {
		color:rgb(169, 169, 169);
}
.nav-links ul li:hover .subclass-menu ul li a:hover  {
		color:#fff;
		box-shadow:none;
}

 input[type=text], select, textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  text-align:center;
    width: 100%;
 
}
#quantity {
	width:10%;
}

input[type=password], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  text-align:center;
}

input[type=number_format], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  text-align:center;
}


label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  margin-top:5px;
}


  .col-100-btn {
  float: center;
  width: 100%;
  margin-top:2%;
  margin-left:42%;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-center {
  float: center;
  margin-top:2%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.main-container2 {
	display:grid;
	align-items:center;
	justify-self:center;
	width:80%;
	margin:0 auto;
	float:center;
}

.main-content {
	justify-self:start;
	margin-left:20px;
	color:#fff;
	width:80%;
	float:center;
}

.main-content h1 {
	font-size:1rem;
}

.main-content p {
	margin-top:1rem;
	font-size: 1.2 rem;
}

#main-img {
	height:80%;
	width:80%;
}

.col-100 {
  float: center;
  width: 100%;
  margin-top:2%;
}

@media screen and (max-width:650px) {
	.main-content {
		text-align:center;
	}
	
	#search_text
	{
		text-align:center;
		margin-left:-36%;
	}
	
	#quantity {
	width:25%;
	margin-top:25%;
	}
	
.success {
	position:absolute;
	top:16.5%;
	right:0%;
	background-color: rgb(106,168,126);
	padding:5px 10px;
	border-radius:5px;
	overflow:hidden;
	opacity:0;
	pointer-events:none;
	text-align:center
}
	

.failed {
	position:absolute;
	top:14%;
	right:20%;
	background-color: rgb(255,48,48);
	padding:10px 20px;
	border-radius:5px;
	overflow:hidden;
	opacity:0;
	pointer-events:none;
	text-align:center
}


.btnplus {
	margin-top:-14%;
}

.btn- {
	margin-top:-14%;
}
	
	.main {
	 overflow:hidden;
	background-size:cover;
	background-image: url("../images/cover.png");
	background-repeat:no-repeat;
	height:95vh;
}
	
	
.main-container2 {
	display:grid;
	align-items:center;
	justify-self:center;
	width:100%;
	margin:0 auto;
	float:center;
}

.header {
	text-align:center;
	font-size:1.5rem;
}
	
	.main-content h1 {
		font-size:2.8 rem;
	}
	
	.main-content p {
		margin-top:2rem;
		font-size:1.5rem;
	}
	
	
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 2%;
  }
  
  .col-100-btn {
  float: center;
  width: 100%;
  margin-top:1%;
  margin-left:0%;
}

.container2 {
  border-radius: 5px;
  background-color: #f2f2f2e6;
  padding:30px;
  width:100%;
  margin-left:0%;
  margin-top:0%;
}

.container3 {
  border-radius: 5px;
  background-color: #f2f2f2e6;
  padding:30px;
  width:100%;
  margin-left:0%;
  margin-top:0%;
  overflow-x:auto;
}



  .wrapper nav{
    max-width: 80%;
    padding: 0 20px;
  }

.logo h3{ text-align:center;width:100%;float:center;font-size:30px; color:#000000; font-weight:normal; margin-top:0; margin-left:0%;}
.container2 form input#form-submit{background:none repeat scroll 0 0 #978989; border:medium; color:#FFF; font-weight:bold; padding:8px 20px; font-size:13px; width:40%; margin-left:0%; text-align:center;}
	
}

@media screen and (max-width:550px) {
#quantity {
	width:25%;
	margin-top:25%;
}

.failed {
	position:absolute;
	top:15%;
	right:18%;
	background-color: rgb(255,48,48);
	padding:10px 20px;
	border-radius:5px;
	overflow:hidden;
	opacity:0;
	pointer-events:none;
	text-align:center
}

.btnplus {
	margin-top:-18%;
}

.btn- {
	margin-top:-18%;
}
	
.container2 {
  border-radius: 5px;
  background-color: #f2f2f2e6;
  padding:30px;
  width:155%;
  margin-left:-28%;
  margin-top:0%;
  height:auto;
}

.container3 {
  border-radius: 5px;
  background-color: #f2f2f2e6;
  padding:30px;
  width:100%;
  margin-left:0%;
  margin-top:0%;
  overflow-x:auto
}


.main {
	 overflow:hidden;
	background-size:cover;
	background-image: url("../images/cover.png");
	background-repeat:no-repeat;
	height:100vh;
}
	

.primaryfooter{ overflow:hidden; margin:auto; width: 100%; height:1%;   position: fixed;   left: 0;
   bottom: 0;}

.logo h3{ text-align:center;width:100%;float:center;font-size:30px; color:#000000; font-weight:normal; margin-top:0; margin-left:0%;}
.container2 form input#form-submit{background:none repeat scroll 0 0 #978989; border:medium; color:#FFF; font-weight:bold; padding:8px 20px; font-size:13px; width:35%; margin-left:0%; text-align:center;}
	
}

.img-cover {
	  padding: 30em;
	background-size:cover;
	background-image: url("../images/cover.png");
	background-repeat:no-repeat;

}

.main-container{
	padding:100px;
}
.main {
	 
	background-size:cover;
	background-image: url("../images/cover.png");
	background-repeat:no-repeat;
	height:100vh;
}


.main2 {
	 
	background-size:cover;
	background-image: url("../images/cover.png");
	background-repeat:no-repeat;
	height:160vh;
	overflow:hidden;
}

.main3 {
	 
	background-size:cover;
	background-image: url("../images/cover.png");
	background-repeat:no-repeat;
	height:125vh;
	overflow:hidden;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}
.wrapper{
  background: #171c24;
  position: relative;
  width: 100%;
}
.wrapper nav{
  position: relative;
  display: flex;
  max-width: calc(100% - 200px);
  margin: 0 auto;
  height: 70px;
  align-items: center;
  justify-content: space-between;
}
nav .content{
  display: flex;
  align-items: center;
}

nav .content .links{
  margin-left: 80px;
  display: flex;
  margin-top:15px;
}

nav .content .links2{
  margin-left: 80px;
  display: flex;
  margin-top:15px;
  margin-right:15%;
}

.content .links2 li{
  list-style: none;
  line-height: 70px;
}
.content .links2 li a,
.content .links2 li label{
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  padding: 9px 17px;
  border-radius: 5px;
  transition: all 0.3s ease;
  text-decoration:none;
}
.content .links2 li label{
  display: none;
}
.content .links2 li a:hover,
.content .links2 li label:hover{
  background: #323c4e;
}

nav .content .links3{
  margin-left: 80px;
  display: flex;
  margin-top:15px;
  margin-left:45%;
}

.content .links3 li{
  list-style: none;
  line-height: 70px;
}
.content .links3 li a,
.content .links3 li label{
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  padding: 9px 17px;
  border-radius: 5px;
  transition: all 0.3s ease;
  text-decoration:none;
}
.content .links3 li label{
  display: none;
}
.content .links3 li a:hover,
.content .links3 li label:hover{
  background: #323c4e;
}


.content .logo a{
  color: #fff;
  font-size: 30px;
  font-weight: 600;
}
.content .links li{
  list-style: none;
  line-height: 70px;
}
.content .links li a,
.content .links li label{
  color: #fff;
  font-size: 23px;
  font-weight: 500;
  padding: 9px 17px;
  border-radius: 5px;
  transition: all 0.3s ease;
  text-decoration:none;
}
.content .links li label{
  display: none;
}
.content .links li a:hover,
.content .links li label:hover{
  background: #323c4e;
}
.wrapper .search-icon,
.wrapper .menu-icon{
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  line-height: 70px;
  width: 70px;
  text-align: center;
}
.wrapper .menu-icon{
  display: none;
}
.wrapper #show-search:checked ~ .search-icon i::before{
  content: "\f00d";
}

.wrapper .search-box{
  position: absolute;
  height: 100%;
  max-width: calc(100% - 50px);
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.wrapper #show-search:checked ~ .search-box{
  opacity: 1;
  pointer-events: auto;
}
.search-box input{
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 17px;
  color: #fff;
  background: #171c24;
  padding: 0 100px 0 15px;
}
.search-box input::placeholder{
  color: #f2f2f2;
}
.search-box .go-icon{
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 60px;
  width: 70px;
  background: #171c24;
  border: none;
  outline: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
.wrapper input[type="checkbox"]{
  display: none;
}

/* Dropdown Menu code start */
.content .links ul{
  position: absolute;
  background: #171c24;
  top: 80px;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
}
.content .links li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}
.content .links ul li a{
  display: block;
  width: 100%;
  line-height: 30px;
  border-radius: 0px!important;
  font-size:18px;
  text-align:center;
}
.content .links ul ul{
  position: absolute;
  top: 0;
  right: calc(-100% + 8px);
}
.content .links ul li{
  position: relative;
}
.content .links ul li:hover ul{
  top: 0;
}

.content .links2 ul{
  position: absolute;
  background: #171c24;
  top: 80px;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
}
.content .links2 li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}
.content .links2 ul li a{
  display: block;
  width: 100%;
  line-height: 30px;
  border-radius: 0px!important;
  font-size:18px;
}
.content .links2 ul ul{
  position: absolute;
  top: 0;
  right: calc(-100% + 8px);
}
.content .links2 ul li{
  position: relative;
}
.content .links2 ul li:hover ul{
  top: 0;
}

.content .links3 ul{
  position: absolute;
  background: #171c24;
  top: 80px;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
}
.content .links3 li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}
.content .links3 ul li a{
  display: block;
  width: 100%;
  line-height: 30px;
  border-radius: 0px!important;
  font-size:18px;
}
.content .links3 ul ul{
  position: absolute;
  top: 0;
  right: calc(-100% + 8px);
}
.content .links3 ul li{
  position: relative;
}
.content .links3 ul li:hover ul{
  top: 0;
}

/* Responsive code start */
@media screen and (max-width: 1250px){
  .wrapper nav{
    max-width: 100%;
    padding: 5px;
  }
  nav .content .links{
    margin-left: 30px;
  }
  .content .links li a{
    padding: 8px 13px;
  }
  .wrapper .search-box{
    max-width: calc(100% - 100px);
  }
  .wrapper .search-box input{
    padding: 0 100px 0 15px;
  }
}

@media screen and (max-width: 900px){
  .wrapper .menu-icon{
    display: block;
	margin-top:3%;
  }
  .wrapper #show-menu:checked ~ .menu-icon i::before{
    content: "\f00d";
  }
    
	 nav .content .links3{
    display: block;
    position: fixed;
    background: #14181f;
    height: 100%;
    width: 100%;
    top: 70px;
    left: -100%;
    margin-left: 0;
    max-width: 350px;
    overflow-y: auto;
    padding-bottom: 100px;
    transition: all 0.3s ease;
  }
  nav #show-menu:checked ~ .content .links3{
    left: 0%;
  }
  .content .links3 li{
    margin: 15px 20px;
  }
  .content .links3 li a,
  .content .links3 li label{
    line-height: 40px;
    font-size: 20px;
    display: block;
    padding: 8px 18px;
    cursor: pointer;
  }
  .content .links3 li a.desktop-link{
    display: none;
  }

  /* dropdown responsive code start */
  .content .links3 ul,
  .content .links3 ul ul{
    position: static;
    opacity: 1;
    visibility: visible;
    background: none;
    max-height: 0px;
    overflow: hidden;
  }
  
  
   nav .content .links2{
    display: block;
    position: fixed;
    background: #14181f;
    height: 100%;
    width: 100%;
    top: 70px;
    left: -100%;
    margin-left: 0;
    max-width: 350px;
    overflow-y: auto;
    padding-bottom: 100px;
    transition: all 0.3s ease;
  }
  nav #show-menu:checked ~ .content .links2{
    left: 0%;
  }
  .content .links2 li{
    margin: 15px 20px;
  }
  .content .links2 li a,
  .content .links2 li label{
    line-height: 40px;
    font-size: 20px;
    display: block;
    padding: 8px 18px;
    cursor: pointer;
  }
  .content .links2 li a.desktop-link{
    display: none;
  }

  /* dropdown responsive code start */
  .content .links2 ul,
  .content .links2 ul ul{
    position: static;
    opacity: 1;
    visibility: visible;
    background: none;
    max-height: 0px;
    overflow: hidden;
  }
  
  nav .content .links{
    display: block;
    position: fixed;
    background: #14181f;
    height: 100%;
    width: 100%;
    top: 70px;
    left: -100%;
    margin-left: 0;
    max-width: 225px;
	max-height:465px;
	text-align:center;
	overflow-y:auto;
    padding-bottom: 100px;
    transition: all 0.3s ease;
  }
  nav #show-menu:checked ~ .content .links{
    left: 0%;
  }
  .content .links li{
    margin: 15px 20px;
  }
  .content .links li a,
  .content .links li label{
    line-height: 40px;
    font-size: 20px;
    display: block;
    padding: 8px 18px;
    cursor: pointer;
  }
  .content .links li a.desktop-link{
    display: none;
  }

  /* dropdown responsive code start */
  .content .links ul,
  .content .links ul ul{
    position: static;
    opacity: 1;
    visibility: visible;
    background: none;
    max-height: 0px;
    overflow: hidden;
  }
  .content .links #show-features:checked ~ ul,
  .content .links #show-services:checked ~ ul,
  .content .links #show-items:checked ~ ul{
    max-height: 100vh;
  }
    .content .links #show-features2:checked ~ ul{
    max-height: 100vh;
  }
  .content .links ul li{
    margin: 7px 20px;
  }
  .content .links ul li a{
    font-size: 18px;
    line-height: 30px;
    border-radius: 5px!important;
  }
  
    .content .links2 ul li{
    margin: 7px 20px;
  }
  .content .links2 ul li a{
    font-size: 18px;
    line-height: 30px;
    border-radius: 5px!important;
  }
  
    .content .links3 ul li{
    margin: 7px 20px;
  }
  .content .links3 ul li a{
    font-size: 18px;
    line-height: 30px;
    border-radius: 5px!important;
  }
}

@media screen and (max-width: 400px){
  .wrapper nav{
    padding: 0 10px;
  }
  .content .logo a{
    font-size: 27px;
  }
  .wrapper .search-box{
    max-width: calc(100% - 70px);
  }
  .wrapper .search-box .go-icon{
    width: 30px;
    right: 0;
  }
  .wrapper .search-box input{
    padding-right: 30px;
  }
}

.dummy-text{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  z-index: -1;
  padding: 0 20px;
  text-align: center;
  transform: translate(-50%, -50%);
}
.dummy-text h2{
  font-size: 45px;
  margin: 5px 0;
}
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	line-height:none;
}

@media screen and (min-width: 1200px){
.container2 {
  width:40%;
  border-radius: 5px;
  background-color: #f2f2f2e6;
  padding:30px;
  margin-left:30%;
  margin-top:2%;
}
.container2 form input#form-submit { width:25%; margin-left:-85%;}
}

@media screen and (min-width: 1300px){
.container2 {
  width:40%;
  border-radius: 5px;
  background-color: #f2f2f2e6;
  padding:30px;
  margin-left:30%;
  margin-top:2%;
   animation-name: register_form;
  animation-duration: 4s;
    animation-fill-mode: forwards;
}
@keyframes register_form {
  from {width: 40%;}
  to {width: 60%;}
   from { margin-left: 30%;}
  to { margin-left: 22%;}
}
.container2 form input#form-submit { width:25%; margin-left:-85%;}

}

.check {
	position:absolute;
	top:50%;
	left:20px;
	transform:translateY(-50%);
	font-size:30px;
	color:rgb(3,71,3);
}

.msg {
	font-size:21px;
	color: rgb(0,0,0);
	 font-family: "Poppins", Droid Serif;
	user-select:none;
	text-align:center;
}

.crose {
	padding:20px 18px;
	background-color:rgb (47,112,47);
	font-size:30px;
	color: rgb(33,83,33);
	position:absolute;
	top:50%;
	right:0;
	transform:translateY(-50%);
	cursor:pointer;
	transition: .3s;
}

.crose:hover {
	background-color:rgb(51,100,51);
}

.success.show {
	animation: show_slide 1s easy forwards;
}

@keyframes show_slide {
	0% {
		transform:translateX(-10px);
	}
	
	40% {
		transform:translateX(0%);
	}
	80% {
		transform:translateX(-10%);
	}
	
	100% {
		transform:translateX(100%);
	}
}

.success.hide {
	animation: hide_slide 1s easy forwards;
}
.sucess.alert {
	opacity:1;
	pointer-events:auto;
}


.msg_failed {
	font-size:21px;
	color: rgb(0,0,0);
	margin:0 30px;
	user-select:none;
	text-align:center;
	font-family:"Poppins", Droid Serif;
}


.container2 form input#form-submit:hover {
	background-color:#666666;
}

.row {
	text-align:center;
}

.pull-right{
	margin-right:-2%;
}

.pull-right2{
	float:right !important;
}

.btn-default {
	margin-top:-0.7%;
}

.container3 {
	background-color:#f2f2f2e6;
	height:30%;
	width:96%;
	margin-left:2%;
}

.viewpage {
text-align:center;
float:center;
margin: 10 20px;
}

.viewbutton {
background-color:#545d6f;
text-align:center;
margin-top:-5px;
text-decoration:none;
}

.viewbutton:hover {
background-color:#4b5363;
text-align:center;
color:#fff;
text-decoration:none;
}

.fas fa-sign-out-alt {
font-size:20px;
}

